body {
  background-color: #000814;
  box-sizing: border-box;
}

* {
  color: azure;
}

.nav {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 2.5vmin;
}

.mainContainer {
  width: 96%;
  display: flex;
  flex-direction: row;
  margin-right: 4vmin;
}

.leftContainer {
  width: 20%;
  height: 100%;
}

.rightContainer {
  width: 80%;
  height: 80vh;
  margin-left: 2vmin;


}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}